html {
  --color-black: #090909;
  --color-white: #FEFEFE;
  --color-light-gray: #D9D9D9;
  --color-medium-gray: #828282;
  --color-dark-gray: #4E4E4E;
  --color-coral: #FF7870;
  --color-smoke-white: #F5F5F5;
  --size-vw-desktop: 100vw;
  --size-vh-desktop: 100vh;
  --size-topnav-height: 130px;
  --size-leftnav-unfold-width: 285px; /* 접히지 않은 leftNav width */
  --size-leftnav-fold-width: 285px; /* 접혀진 leftNav width */
  font-family: 'Pretendard', sans-serif;
}
body {
  background-color: var(--color-white);  color: var(--color-black);
}

.btn {
  border-radius: 10px;
  background-color: #FEFEFE;
  font-size: 13px;


  &.coral {
    color: var(--color-coral);
    border: 1.5px solid var(--color-coral);
    &:hover {
      background-color: var(--color-coral);
    }
  }
  &.light-gray {
    color: var(--color-light-gray);
    border: 1.5px solid var(--color-light-gray);
    &:hover {
      background-color: var(--color-light-gray);
    }
  }
  &.medium-gray {
    color: var(--color-medium-gray);
    border: 1.5px solid var(--color-medium-gray);
    &:hover {
      background-color: var(--color-medium-gray);
    }
  }
  &:hover {
    color: var(--color-white);
    cursor: pointer;
  }
}

#root > div {
  display: flex;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  height: var(--size-topnav-height);
  display: flex;
  align-items: center;

  .top-time-part {
    display: flex;
    margin: 34px;
    flex-grow: 1;

    .icon-div {
      display: flex;
      align-items: center;
      margin-right: 34px;

      .icon-button {
        border: 0;
        background-color: transparent;
      }

      .back {
        margin-right: 15px;
        cursor: pointer;
      }

      .forward {
        cursor: pointer;
      }
    }

    .week-view-div {
      .week-indicator {
        p {
          font-weight: 700;
          font-size: 30px;
          margin-bottom: 13px;
        }
      }

      .week-day-range {
        p {
          font-size: 20px;
        }
      }
    }
  }

  .top-manipulate-part {
    display: flex;

    .viewopt-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 50px 0 40px;

      p {
        color: var(--color-medium-gray);
        font-size: 18px;
        font-weight: 600;
        margin: 0 17px;
      }
    }

    .top-operation-btn {
      &.login-btn, &.signup-btn {
        color: var(--color-medium-gray);
        font-size: 18px;
        font-weight:600;
        margin-right: 7px;
        &:hover{
          color: var(--color-white);
        }
      }
    }
  }

}

router-view {
  height: calc(var(--size-vh-desktop) - var(--size-topnav-height));
}

.left-nav-unfold {
  width: var(--size-leftnav-unfold-width);
  height: var(--size-vh-desktop);
  background-color: var(--color-white);
  padding: 15px 30px 37px 34px;
  box-sizing: border-box;
  position: relative;

  .left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18.25px;
    margin-bottom: 37px;

    .left-search {
      position:relative;

      input {
        width: 175px;
        height: 34px;
        box-sizing: border-box;
        background-color: var(--color-light-gray);
        border-radius: 50px;
        padding: 3px 10px 3px 34px;
        border: none;
      }

      span {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
      }
    }
  }

  .fc.fc-media-screen {
    .fc-header-toolbar {
      margin-bottom: 17px;
      padding-left: 10px;

      .fc-toolbar-title {
        font-size: 16px;
        color:var(--color-dark-gray);
      }

      .fc-button-group {
        .fc-button.fc-button-primary {
          background-color: var(--color-white);
          border: none;

          &:focus, :active {
            box-shadow: none;
            background-color: var(--color-white);
            border: none;
          }

          span {
            font-size:17px;
            color: var(--color-dark-gray);
          }
        }
      }
    }

    .fc-daygrid {
      table, th, td {
        border: none;
      }

      th {
        background-color: var(--color-white);
        color:var(--color-dark-gray);
      }

      .day-cell {
        width: 32px;
        height: 32px;

        .fc-daygrid-day-number {
          font-size: 14px;
        }

        &.fc-day-today {
          border-radius: 50%;
          background-color: var(--color-coral);

          .fc-daygrid-day-number {
            color:var(--color-white);
          }
        }

        .fc-daygrid-day-frame {
          display: flex;
          align-items: center;
          justify-content: center;

          .fc-daygrid-day-events {
            display: none;
          }
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: 22px;
    margin-bottom: 22px;

    > button {
      font-weight: bold;
    }

    .small-btn-wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  ul {
    border-top: 1px solid var(--color-light-gray);
    border-bottom: 1px solid var(--color-light-gray);

    .menu-item:not(:last-child) {
      border-bottom: 1px solid var(--color-light-gray);
    }

    .menu-item {
      display: flex;
      align-items: center;
      gap: 9px;
      height: 58px;
      padding-left: 10px;
      cursor: pointer;

      p {
        font-size: 13px;
        color: var(--color-medium-gray);
        font-weight: 475;
        line-height: 24px;
      }
    }
  }

  .icon-button {
    padding:0;
    border: 0;
    background-color: var(--color-white);
    cursor: pointer;
  }

  > button {
    position: absolute;
    bottom: 37px;
  }
}

.left-nav-fold {
  display: none;
  min-width: 104px;
  max-width: 104px;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0px 37px;
  border-right: 1px solid var(--color-light-gray);

  .mini-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px
  }

  button {
    background-color: var(--color-white);
    border: none;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }
}