html {
  --color-black: #090909;
  --color-white: #FEFEFE;
  --color-light-gray: #D9D9D9;
  --color-medium-gray: #828282;
  --color-dark-gray: #4E4E4E;
  --color-coral: #FF7870;
  --size-vw-desktop: 100vw;
  --size-vh-desktop: 100vh;
  --size-topnav-height: 130px;
  --size-leftnav-unfold-width: 285px; /* 접히지 않은 leftNav width */
  --size-leftnav-fold-width: 285px; /* 접혀진 leftNav width */
  font-family: 'Pretendard', sans-serif;
}
body {
  background-color: var(--color-white);
  color: var(--color-black);
}

#root > div {
  display: flex;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  height: var(--size-topnav-height);
}

router-view {
  height: calc(var(--size-vh-desktop) - var(--size-topnav-height));
}

.left-nav {
  width: var(--size-leftnav-unfold-width);
  height: var(--size-vh-desktop);
  background-color: #FFFFFF;
  padding: 26px 25px 36px 33px;
  box-sizing: border-box;

  .left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18.25px;

    .left-search {
      position:relative;

      input {
        width: 175px;
        height: 34px;
        box-sizing: border-box;
        background-color: #D9D9D9;
        border-radius: 50px;
        padding: 3px 10px 3px 34px;
        border: none;
      }

      span {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
      }
    }
  }
}

.icon-button {
  padding:0;
  border: 0;
  background-color: white;
}